/* GLOBAL *********************************************************/
body {
    background-color: black;
    color: white;
    font-family: 'Anonymous Pro', monospace;
}
h1 {
    margin: 1rem 0 2rem 0;
    color: grey;
    font-weight: 700;
    font-family: 'Permanent Marker', cursive;
}
footer {
    padding: 1rem;
    color: grey;
    text-align: center;
}

/* GAME TITLE *********************************************************/
.gameTitle {
    border: none;
    /* color: red; */
    margin: 0 auto;
    text-align: center;
}
.gameTitle img {
    max-width: 60%;
    vertical-align: middle;
}
.gameTitle h4 {
    padding-bottom: 1rem;
    color: grey;
}

/* GAME AREA *********************************************************/
.gameArea, .letterArea {
    border: 1px solid seagreen;
    padding: 5rem 2.5rem 5rem 2.5rem;
}
.gameArea h4 {
    padding-bottom: 1rem;
}
.gameArea p {
    border: 1px solid seagreen;
    padding: 2rem;
    font-size: 1.4rem;
    text-align: center;
}
.guesses {
    text-align: center;
    color: grey;
}
.wins, .losses {
    color: grey;
    border-bottom: 1px solid seagreen;
    text-align: center;
    margin: 0 auto;
}
#guessesLeft, #winScore, #lossScore {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}
#winScore {
    color: seagreen;
}
#lossScore {
    color: crimson;
}
#guessesLeft {
    color: white;
}

/* LETTER BANK ********************************************************/
.tmntImage {
    background-image: url(../images/tmnt.gif);
    background-position: center;
    background-size: cover;
}
.letterBank {
    background-color:rgba(0,0,0,0.85);
    padding: 1rem;
    border: 1px solid seagreen;
    text-align: center;
}
.letterBank h3 {
    border-bottom: 1px solid seagreen;
    padding-bottom: 1rem;
    color: grey;
}
.letterBank p {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
}
.youLose {
    background-color:rgba(0,0,0,0.85);
    padding: 0.5rem;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: crimson;
    margin-top: 15rem;
    display: none;
}
.youWin {
    background-color:rgba(0,0,0,0.85);
    padding: 0.5rem;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: white;
    margin-top: 15rem;
    display: none;
}