/* GLOBAL 
*********************************************************/
body {
    background-color: black;
    color: white;
    font-family: 'Anonymous Pro', monospace;
}
h1 {
    margin: 1rem 0 2rem 0;
    color: grey;
    font-weight: 700;
    font-family: 'Permanent Marker', cursive;
}
footer {
    padding: 1rem;
    color: grey;
    text-align: center;
}
.hide {
    display: none;
}
.show {
    display: block;
}

/* GAME TITLE 
*********************************************************/
.gameTitle {
    border: none;
    margin: 0 auto;
    text-align: center;
}
.gameTitle p {
    color: grey;
    font-size: 1.4rem;
}
.gameTitle img {
    max-width: 50%;
    vertical-align: middle;
}
.gameTitle h4 {
    padding-bottom: 1rem;
    color: grey;
}
.noBottomMargin {
    margin-bottom: 0;
}

/* GAME AREA 
*********************************************************/
.gameArea, .letterArea {
    border: 1px solid seagreen;
    padding: 1.75rem;
}
.gameArea h4 {
    padding-bottom: 1rem;
}
.gameArea p {
    border: 1px solid seagreen;
    padding: 2rem;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
.guesses {
    text-align: center;
    color: grey;
}
.wins, .losses {
    color: grey;
    border-bottom: 1px solid seagreen;
    text-align: center;
    margin: 0 auto;
}
#guessesLeft, #wonScore, #lostScore {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}
#wonScore {
    color: limegreen;
}
#lostScore {
    color: crimson;
}
#guessesLeft {
    color: white;
}

/* WRONG LETTER BANK ********************************************************/
.tmntImage {
    background-position: center;
    background-size: cover;
}
/* using an actual web url was the ony way i could get javascript to find the gifs - using a path to the images folder did not work */

/* default gif url = https://bit.ly/2LjZFnW */

/* won gif url = https://bit.ly/2sExbgL */

/* lost gif url = https://i.gifer.com/7ilT.gif */
/* lost gif 2 url = https://bit.ly/2LUyDVm */

/* typing gif url = https://media.giphy.com/media/cFdHXXm5GhJsc/giphy.gif */

#tmntImage {
    background-image: url(../images/tmnt.gif);
}
.wrongLetterBank {
    background-color:rgba(0,0,0,0.85);
    padding: 1rem;
    /* border: 1px solid seagreen; */
    text-align: center;
}
.wrongLetterBank h3 {
    border-bottom: 1px solid crimson;
    padding-bottom: 1rem;
    color: grey;
    font-size: 1.5rem;
}
.wrongLetterBank p {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.6rem;
}
.youLose, .youWin {
    background-color:rgba(0,0,0,0.85);
    padding: 0.5rem;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: crimson;
    margin-top: 12.5rem;
}
.youWin {
    color: limegreen;
}
.youLose p, .youWin p {
    color: white;
    font-family: 'Anonymous Pro', monospace;
}

